<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">SANA</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# banner start #}
			{# ================ #}
			<div class="banner default-bg" style="background-image:url('/static/images/main_SA_background.jpg'); background-position: 50% 47%;">				
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Servicio{% endtrans %} <strong>SANA</strong></h2>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible text_banner" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Servicio de Análisis, Notificación y Alertas. Nuestro sistema de alertas de seguridad, que le permite estar al tanto de cualquier incidencia relacionada con sus sistemas o integrarse en sus aplicaciones.{% endtrans %}</p>
						</div>
					</div>
				</div>
			</div>
			{# banner end #}

			{# section start #}
			{# ================ #}
			<section class="pv-20 padding-bottom-clear clearfix">
				<div class="container">
					<p class="text-center space-bottom">{% trans %}El Servicio de Análisis, Notificación y Alertas (SANA) forma parte de la historia de Hispasec como uno de los servicios más longevos y mejor considerados por nuestros clientes. SANA proporciona un sistema completo de alertas sobre vulnerabilidades, actualizaciones y parches de software en términos de seguridad informática, permitiendo saber en todo momento las posibles vulnerabilidades que puedan afectar a los productos que su entidad o empresa usan a diario.{% endtrans %}</p>
					<div class="row">
						<div class="col-md-6 space-top">
							<br>
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="icon-megaphone"></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Alerta temprana de vulnerabilidades{% endtrans %}</h4>
									<p>{% trans %}Cada cliente recibe de manera rápida y personalizada tantas alertas como fallos hayan sido detectados para los productos monitorizados. Para sistemas más complejos, disponemos de una completa API que permite personalizar y adaptar este servicio a sus necesidades.{% endtrans %}</p>
									<p>{% trans %}En cada alerta se proporciona toda la información necesaria así como los parches disponibles en ese momento o las posibles contramedidas, todo ello en un servicio activo 24/7.{% endtrans %}</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa fa-list "></i></span>
								<div class="body">
									<h4 class="title">{% trans %}Histórico completo{% endtrans %}</h4>
									<p>{% trans %}Informe del histórico de vulnerabilidades para cada cliente, donde consultar de manera cómoda las vulnerabilidades que le afectan, permitiendo consultas en base a cualquier característica de la alerta.{% endtrans %}</p>
									<p>{% trans %}El portal, también permite catalogar las vulnerabilidades a los administradores, de forma que puedan conocer qué fallos han sido corregidos en su sistema, están pendientes de gestionar, o aún no han sido tratados.{% endtrans %}</p>
									<p>{% trans %}Todo ello integrado en nuestro panel de servicios CSIRT, ofreciendo estadísticas completas para presentaciones ejecutivas.{% endtrans %}</p>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="/static/images/services_SA_addons.png" alt="">
						</div>
					</div>

				</div>
			<a id="csirt_panel"></a>				
			</section>
			{# section end #}
		
			{# main-container start #}
			{# ================ #}
			<section  class="main-container border-clear light-gray-bg padding-bottom-clear">

				<div class="container">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-12">

							{# page-title start #}
							{# ================ #}
							<h1 class="page-title text-center">{% trans %}Nuestro panel SANA{% endtrans %}</h1>
							{# page-title end #}
							<p>{% trans %}Nuestro panel es totalmente configurable a sus necesidades, mostrando de un vistazo todos los alertas gestionados y/o emitidas.{% endtrans %}</p>
							<div class="image-box space-top style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="/static/images/serv_SA_1.png" alt="" align="right">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Dashboard completo{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Estadísticas de vulnerabilidades{% endtrans %}</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">{% trans %}De un vistazo podrá controlar el total de alertas sufridas, así como el calendario de estadísticas.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6 col-md-push-6">
										<div class="overlay-container">
											<img src="/static/images/serv_SA_2.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Listado global y búsqueda{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-md-pull-6">
										<div class="body text-right">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Búsqueda de vulnerabilidades{% endtrans %}</h3>
											<div class="separator-3"></div>
											<p class="margin-clear">{% trans %}Total de alertas gestionadas y búsqueda con diferentes filtros.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="image-box style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container">
											<img src="/static/images/serv_SA_3.png" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>{% trans %}Control de usuarios y productos{% endtrans %}</em></p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3>{% trans %}Gestión de productos a monitorizar{% endtrans %}</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">{% trans %}Podrá acceder al listado completo y agregar los que necesite para poder ser alertado.{% endtrans %}</p>
											<br>
										</div>
									</div>
								</div>
							</div>

						</div>
						{# main end #}
					</div>
				</div>
			</section>
			{# main-container end #}	
			
			<div class="separator"></div>
			
			{# section start #}
			{# ================ #}
			<section class="section background-img-2 dark-translucent-bg" style="background-position: 50% 100%;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">{% trans %}¿Interesado?{% endtrans %}</h1>
										<p>{% trans %}Nuestros servicios tienen disponible un periodo de demostración.Ponganos a prueba. Rétenos. Para HISPASEC el trabajo es una oportunidadpara poder competir.{% endtrans %}</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="/{{ lang_code }}/contact.html" class="btn btn-lg btn-gray-transparent btn-animated">{% trans %}Solicite una DEMO{% endtrans %}<i class="fa fa-envelope-o pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# section end #}				


		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
